$base-color: #eceff1;
.game__box-word {
    background-color: darken($color: $base-color, $amount: 5);
    border: 1px solid black;
    padding-top: 8px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    position: relative;
    outline: none;
    span {
        background-color: darken($color: $base-color, $amount: 5);
    }
    .text {
        display: block;
        font-size: 14px;
        text-align: center;
        position: relative;
        background: transparent !important;
    }
    .r {
        width: 1em;
        height: 1em;
        position: absolute;
        top: 0.8em;
        right: -0.6em;
        -webkit-border-radius: 4em;
        -moz-border-radius: 4em;
        border-radius: 4em;
        border: none;
        background-color: darken($color: $base-color, $amount: 5);
        border-right: 1px solid black;
    }
    .l {
        width: 0.5em;
        height: 1em;
        position: absolute;
        top: 0.8em;
        left: -0.1em;
        -webkit-border-radius: 4em;
        -moz-border-radius: 4em;
        border-radius: 4em;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        background-color: darken($color: $base-color, $amount: 5);
        border: none;
        border-right: 1px solid black;
    }

    &.coloredRed {
        color: red;
    }
    &.coloredGreen {
        color: green;
    }
}
