.setting-page {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.main-settings {
    h5 {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }
    &__title {
        display: flex;
        align-items: center;
    }
    &__wordsNumber {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .MuiTypography-body1 {
        font-size: 1.5rem;
    }
    .MuiFormControlLabel-labelPlacementStart {
        margin-left: 0;
    }
}

.option-settings {
    margin-top: 1rem;
    &__title {
        display: flex;
        align-items: center;
    }
    .MuiTypography-body1 {
        font-size: 1.5rem;
    }
    .MuiFormControlLabel-labelPlacementStart {
        margin-left: 0;
    }
}

.buttons-block {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
    .MuiButtonBase-root {
        &:first-child {
            margin-right: 1rem;
        }
    }
}

@media (max-width: 959px) {
    .main-settings, .option-settings {
        .MuiTypography-body1 {
            font-size: 1.2rem;
        }
    }
    .main-settings {
        h5 {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 599px) {
    .main-settings {
        h5{
            margin-top: 0;
        }
        padding-top: 4rem;
        .MuiSlider-root {
            width: 95%;
        }
        .MuiTypography-body1 {
        }
    }
    .option-settings {
        .MuiTypography-body1 {
            font-size: 1rem;
        }
    }
}
