.start-page {
    &_wrapper {
        width: 100%;
    }

    &_content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        background-image: url("/assets/images/sprint.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        &__name {
            font-size: 40px;
            opacity: 0.8;
            letter-spacing: 13px;
            font-weight: 300;
            text-align: center;
        }

        &__rules {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            align-content: center;
            align-items: center;
            font-size: 22px;
            padding: 10px;
        }

        .message {
            padding: 10px;
        }
    }

    &_game {
        &__variant {
            margin: 5px;
            width: min(75%, 500px);
            display: flex;
            justify-content: space-between;
        }

        &__button {
            margin: 0 10px;
        }
    }
}
