main {
    .sprint-game {
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;

        .score_container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

                .countdown {
                    position: relative;
                
                    &__visual {
                        stroke-dasharray: 151px;
                        stroke-dashoffset: 151px;
                        stroke-linecap: butt;
                        stroke-width: 4px;
                        stroke: green;
                        fill: none;
                
                        svg {
                            width: 52px;
                            height: 52px;
                            transform: rotateZ(-90deg);
                        }
                    }
                
                    &__text {
                        position: absolute;
                        top: 18px;
                        width: 52px;
                        color: green;  
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                    }
                
                    @keyframes countdown-animation {
                        0% {
                            stroke-dashoffset: 0px;
                        }
                        100% {
                            stroke-dashoffset: 151px;
                        }
                    }
                }
        }

        .card {
            margin: 0 auto;

            &_img {
                max-width: 50%;
            }

            &_content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .button {

                &_container {
                    display: flex;
                    justify-content: space-between;
                    margin: 5%;
                }

                &_right {
                    background-color: green;
                }

                &_wrong {
                    background-color: red;
                }
            }
        }
    }
}