.main_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 30px;
    a {
        text-decoration: none;
        justify-self: center;
        margin: 20px;
    }
}
