
body {
    margin: 0;
    padding: 0;
}

.signin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(196, 196, 196, 0.377), rgba(165, 165, 165, 0.349)), url(./loginbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}