header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__menu {
    display: flex;
    flex-wrap: nowrap;
    color: #202020;
    text-decoration: none;
}
.header__links {
    display: flex;
    list-style: none;
    margin: 0 24px;
}
