$primary-color: #9c27b0;
$base-color: #757575;
.complexity-points {
    justify-content: center;
    .point {
        &:before {
            content: "";
            width: 20px;
            height: 3px;
            top: 10px;
            margin: 0 -12px 0 -17px;
            background-color: $base-color;
        }
        &:first-child:before {
            content: none;
        }
    }
}
