.image {
    margin: 10px auto;
    img {
        display: inline-block;
        width: 400px;
        height: 270px;
    }
}

@media screen and (max-width: 500px) {
    .image {
        margin: 10px auto;
        img {
            display: inline-block;
            width: 290px;
        }
    }
}
