.loader-wrapper-speakit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 138.5px;
    margin: 0 auto;
    .error-message {
        margin-top: 15px;
        font-size: 18px;
    }
}
