div.audition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    min-width: 100%;
    padding-top: 80px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    transition: all 0.3s ease;
    &__question {
        width: 150px;
        height: 150px;
        background:
            url('./assets/sound.svg') center no-repeat,
            rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        cursor: pointer;
    }
    &__right-word {
        height: 50px;
        font-size: 1.8rem;
    }
    &__answer {
        margin: 30px 0;
        height: 50px;
        font-size: 2.5rem;
    }
    &__variants {
        display: flex;
    }
    &__variant {
        margin-right: 10px;
    }
    & > * {
        margin-bottom: 20px;
    }
}
button.audition__button {
    &_disabled {
        // text-decoration: line-through;
        color: gray;
        cursor: not-allowed;
        pointer-events: auto;
    }
    &_right::before {
        content: '';
        display: inline-flex;
        width: 50px;
        height: 50px;
        background: url('./assets/ok.svg');
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &_right {
        text-decoration: none;
        color: black;
    }
}
