.memberCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__mainText {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0.5rem 0;
    }

}

.memberLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        color: #0288d1;
        &:not(:last-child) {
            margin-right: 3rem;
        }
        &:hover {
            text-decoration: none;
        }
        &:visited {
            color: #0288d1;
        }
    }
}

@media (max-width: 599px) {
    .memberLinks {
        a {
            width: 100%;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}
